@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-section {
    padding-top: 50px;
    display: flex;
    width: 100vw;
    align-items: start;
    justify-content: center;
    padding-bottom: 100px;
}

.second-section {
    width: 100vw;
    display: flex;
    align-items: center;
    padding-bottom: 100px;
}

.jacky { 
    height: 700px;
}

.jacky2 {
    height: 550px;
}

.text-with-button {
    display: flex;
    padding: 0px;
    margin: 0px;
    flex-direction: column; /* Stack elements vertically */
    align-items: center;    /* Center horizontally */
    text-align: left;     /* Center text in the container */
}

.text-with-button h1 {
   padding: 0px;
   margin: 0px;
}

.text-with-button p {
    padding-left: 25px;
    padding-right: 50px;
}


.link-button {
    align-self: center;     /* Center the button within the container */
    margin-top: 20px;       /* Add space between the button and the content above */
    text-decoration: none;  /* Optional: Remove underline */
    padding: 10px 20px;     /* Optional: Style the button */
    color: white;           /* Optional: Change text color */
    border-radius: 5px;     /* Optional: Round corners */
    text-decoration: none;
    font-family: Helvetica;
    font-size: 40px;
    color: #c17557;
    border: 2px solid black;
    padding: 20px;
    margin: 20px
}

.link-button:hover {
    background-color: #6f9558;
    color: white;
    border-color: transparent;
}

h1 {
    justify-content: center;
    font-size: 40px;
}

h2 {
    justify-content: center;
    font-size: 30px;
}

p {
    text-indent: 2rem;
    line-height: 1.8;
    align-content: center;
    font-family: Helvetica;
    font-size: 21px;
    max-width: 1000px;
}

.text-content {
    justify-content: center;
}

.flower-background {
    position: relative;
    border-bottom: 2px solid black;
}

.flower-background img {
    display: block;
}

.quote {
    text-align: center;
    border-radius: 2px;
    padding: 40px;
    line-height: 1.8;
    font-family: 'Lexend';
    font-size: 2.5rem;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}


.services-section {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid black;
}

.services-section h1 {
    font-family: Helvetica;
    font-size: 50px;
    font-weight: lighter;
}

.service-cards {
    display: flex;
    gap: 50px;
}

.quote-divider {
    width: 100vw;
    height: 500px;
    background-color: #315851;
    position: relative;
    border-bottom: 2px solid black;
}