/* .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #315851;
    height: 20rem;
    width: 100%;
}

.nav-container {
    display: flex;
    justify-content: center;
    vertical-align:top;
    width: 30%;
    height: 100%;
}

.socials-container {
    display: flex;
    justify-content: center;
    vertical-align: top;
    width: 30%;
    height: 100%;
}


.footer h2 {
    color: white;
}

.logo-company {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
}

.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-content {
    display: flex;
    align-content: center;
    width: 100%;
}

.image-container {
    display: inline-block;
    border: transparent;
    justify-content: center;
    height: min-content;
}

.image-container img { 
    width: 10rem;
    height: min-content;
    object-fit: contain;
}

.text-container {
    color: white;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0px;
    padding: 0px;
} */
