
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

.links {
    align-items: center;
}

.navigation-links {
    list-style-type: none;
    display: flex;
    gap: 2.5rem;
}

.navigation-links a {
    text-decoration: none;
    font-family: Helvetica;
    font-size: 1.75rem;
    font-weight: bold;
    color: #315851
}

.navigation-links a:hover {
    padding: 8px 12px; /* Add some padding to look like a button */
    border-radius: 12px; /* Semi-rounded corners */
    transition: all 0.3s ease; /* Smooth transition for hover effect */
    background-color: #6f9558;
    color: white;
}

