@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: light;
    background-color: #f2e8e6;
    font-family: "Gantari", serif;
    font-size: 16px;
    padding: 0px;
    margin: 0px;
}

body {
    height: auto;
    margin: 0;
}
