:root {
  color-scheme: light;
  background-color: #0ed639;
  font-size: 14px;
  padding: 0px;
  margin: 0px;
}

body {
  height: auto;
  margin: 0;
  padding: 0;
}


@media (min-width: 1024px) {
  :root {
    color-scheme: light;
    background-color: #e7d6c4;
    font-size: 16px;
    padding: 0px;
    margin: 0px;
  }

  body {
    height: auto;
    margin: 0;
    padding: 0;
  }
}